.ion-card-centered {
  horizontal-align: center!important;
  text-align: center!important;
  width: 50%!important;
  align-items: center!important;

}

.align-text-center {
  text-align: center!important;
  horizontal-align: center!important;
  align-items: center!important;
  justify-content: center!important;
  top: 50%;
  left: 50%;
  width: 20em;
  height: 5em;
}

.email-wrapper {
  align-items: center!important;
  horizontal-align: center!important;
  justify-content: center!important;
  width: 50%!important;
}
