.cell-title {
  border-color: black;
  border-width: .01em;
  border-style: solid; margin-bottom : -1px;
  background-color: orangered;
  color: white;
  expand: block;
};

.cell-class {
  border-color: black;
  border-width: .01em;
  border-style: solid; margin-bottom : -1px;
  background-color: white;
  color: black;
  expand: block;
}

container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.mat-table {
  overflow-x: scroll;
  overflow-y: scroll;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

.demo-row-is-clicked {
  font-weight: bold;
}
