.ion-row {
  text-align: center!important;
  align-content: center!important;
  align-items: center!important;
}

.ion-col {
  text-align: center!important;
  align-content: center!important;
  align-items: center!important;
  background-color: white;
  color: black;
}

ion-col {
  background-color: white;
  color: black;
}

.ion-header {
  background-color: white;

}

