.ion-card-class {
  horizontal-align: center;
  text-align: center;
}

.ion-card-centered {
  horizontal-align: center!important;
  text-align: center!important;
  width: 50%!important;
}

.align-text-center {
  text-align: center!important;
  horizontal-align: center!important;
  align-items: center!important;
  justify-content: center!important;
  width: 20em;
  height: 5em;
}
