<app-company-header-v2>
</app-company-header-v2>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-title>
      Stalls
    </ion-title>
  </ion-item>

  <ion-item lines="full">
    <ion-button
      (click)="this.onCreateStallButtonPressed()"
      expand="block"
      color="danger"
    >
      Create Stall
    </ion-button>
    <ion-button
      (click)="this.onMoveHorseButtonPressed()"
      expand="block"
      color="danger"
    >
      Move Horse
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="1.5" class="cell-title">Stall Id</ion-col>
        <ion-col size="1.5" class="cell-title">Name</ion-col>
        <ion-col size="1.5" class="cell-title">Horses List</ion-col>
        <ion-col size="1.5" class="cell-title">Capacity</ion-col>
        <ion-col size="1.5" class="cell-title">Occupants</ion-col>
        <ion-col size="1.5" class="cell-title">Description</ion-col>
        <ion-col size="1.5" class="cell-title">Notes</ion-col>
        <ion-col size="1.5" class="cell-title">Company Id</ion-col>
      </ion-row>
      <ion-row
        *ngFor="let stallOccupancyDisplayable of this.stallOccupanciesListDisplayable"
        tappable (click)="this.goToStallDetailsPage(stallOccupancyDisplayable)"
      >
        <ion-col size="1.5" class="cell-class">{{this.stallOccupancyDisplayable.stallId}}</ion-col>
        <ion-col size="1.5" class="cell-class">{{this.stallOccupancyDisplayable.name}}</ion-col>
        <ion-col size="1.5" class="cell-class">{{this.stallOccupancyDisplayable.horsesList}}</ion-col>
        <ion-col size="1.5" class="cell-class">{{this.stallOccupancyDisplayable.capacity}}</ion-col>
        <ion-col size="1.5" class="cell-class">{{this.stallOccupancyDisplayable.occupants}}</ion-col>
        <ion-col size="1.5" class="cell-class">{{this.stallOccupancyDisplayable.description}}</ion-col>
        <ion-col size="1.5" class="cell-class">{{this.stallOccupancyDisplayable.notes}}</ion-col>
        <ion-col size="1.5" class="cell-class">{{this.stallOccupancyDisplayable.companyId}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

</ion-content>

