<app-company-header-v2>
</app-company-header-v2>

<ion-content [fullscreen]="true">

  <ion-item>
  <ion-title>
    Pay
  </ion-title>
  </ion-item>

  <ion-grid *ngIf="this.isGetAppointmentAmountDueResponseLoaded">
    <ion-row>
      <ion-col size="2" class="cell-title">Appointment Id</ion-col>
      <ion-col size="8" class="cell-class">{{this.getAppointmentAmountDueResponse.appointmentId}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2" class="cell-title">Total Amount Due</ion-col>
      <ion-col size="8" class="cell-class">$ {{this.getAppointmentAmountDueResponse.currentAmountDue/100}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2" class="cell-title">Total Amount Paid</ion-col>
      <ion-col size="8" class="cell-class">$ {{this.getAppointmentAmountDueResponse.totalAmountPaid/100}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2" class="cell-title">Current Amount Due</ion-col>
      <ion-col size="8" class="cell-class">$ {{this.getAppointmentAmountDueResponse.currentAmountDue/100}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2" class="cell-title">Payment Amount</ion-col>
      <ion-col size="8" class="cell-class">
        <ion-input

          type="number"
          [(ngModel)]="this.paymentAmount"
        ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-button
        (click)="this.onPayButtonPressed()"
        expand="block"
        color="danger"
      >
        Pay Through Stripe
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>

