<ion-item *ngIf="this.isUsersListLoaded">
  <ion-grid>
    <ion-row>
      <ion-col class="cell-class">
        <ion-radio-group
          [(ngModel)]="this.user"
        >
          <ion-item *ngFor="let user of this.usersList">
            <ion-grid>
              <ion-row>
                {{user.emailAddress}}
              </ion-row>
              <ion-row>
                {{user.firstName}}
              </ion-row>
              <ion-row>
                {{user.lastName}}
              </ion-row>
            </ion-grid>
            <ion-radio slot="end" [value]="user">{{user.emailAddress}}</ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
