.cell-class {
  border-color: black;
  border-width: .01em;
  background-color: white;
  text-align: center!important;
  align-content: center!important;
  align-items: center!important;
  vertical-align: center!important;
  color: black;
  expand: block;
}
