<app-company-header-v2></app-company-header-v2>

<ion-content>
  <ion-item>
    <ion-title>
      Users
    </ion-title>
  </ion-item>

  <ion-item>
    <ion-button
      color="danger"
      (click)="this.goCreateUserPage()"
      expand="block"
    >
      Create User
    </ion-button>
  </ion-item>

  <ion-item *ngIf="this.isUsersListLoaded">
    <ion-grid>
      <ion-row>
        <ion-col size="3" class="cell-title">Id</ion-col>
        <ion-col size="3" class="cell-title">Email Address</ion-col>
        <ion-col size="3" class="cell-title">First Name</ion-col>
        <ion-col size="3" class="cell-title">Last Name</ion-col>
      </ion-row>
      <ion-row *ngFor="let user of this.usersList" tappable (click)="this.goToUserDetailsPage(user)">
        <ion-col size="3" class="cell-class">{{user.id}}</ion-col>
        <ion-col size="3" class="cell-class">{{user.emailAddress}}</ion-col>
        <ion-col size="3" class="cell-class">{{user.firstName}}</ion-col>
        <ion-col size="3" class="cell-class">{{user.lastName}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
