.ion-row {
  text-align: center!important;
  align-content: center!important;
  align-items: center!important;
}

.ion-col {
  text-align: center!important;
  align-content: center!important;
  align-items: center!important;
}

